.container{
    text-align: center;
    width: 50%;
}


.activityList{
    display: flex;
    flex-direction: column;
    background-color: #34704e;
    color: white;
    /* width: 50%; */
    height: auto;
    margin: 10px;
    justify-content: center;
}
.listData{
    color: black;
    background-color: white;
    width: 80%;
    height: auto;
    margin: auto;
    padding: 5px;
}